altgraph=0.17
asgiref=3.4.1
async=0.6.2
auto-py-to-exe=2.9.0
autopep8=1.5.6
backcall=0.2.0
backports.entry-points-selectable=1.1.0
bottle=0.12.19
bottle-websocket=0.2.9
certifi=2021.5.30
cffi=1.14.5
charset-normalizer=2.0.4
colorama=0.4.4
decorator=4.4.2
distlib=0.3.2
dj-database-url=0.5.0
Django=3.2.7
django-heroku=0.3.1
Eel=0.12.4
filelock=3.0.12
future=0.18.2
gevent=21.1.2
gevent-websocket=0.10.1
greenlet=1.1.0
gunicorn=20.1.0
idna=3.2
ipykernel=5.5.0
ipython=7.21.0
ipython-genutils=0.2.0
jedi=0.18.0
jupyter-client=6.1.12
jupyter-core=4.7.1
keyboard=0.13.5
mysql-connector-python=8.0.26
parso=0.8.1
pefile=2021.5.24
pickleshare=0.7.5
pip=21.2.4
pipenv=2021.5.29
platformdirs=2.3.0
prompt-toolkit=3.0.18
protobuf=3.17.3
psycopg2=2.9.1
pycodestyle=2.7.0
pycparser=2.20
Pygments=2.8.1
pyinstaller=4.5.1
pyinstaller-hooks-contrib=2021.1
python-dateutil=2.8.1
python-firebase=1.2
pytz=2021.1
pywin32=300
pywin32-ctypes=0.2.0
pyzmq=22.0.3
requests=2.26.0
six=1.15.0
sqlparse=0.4.1
toml=0.10.2
tornado=6.1
traitlets=5.0.5
urllib3=1.26.6
virtualenv=20.7.2
virtualenv-clone=0.5.7
wcwidth=0.2.5
whichcraft=0.6.1
whitenoise=5.3.0
zope.event=4.5.0
zope.interface=5.4.0