<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style_lol.css' %}" rel="stylesheet">
    <title>ace.com/lol</title>
</head>
<script type="text/javascript">
    var a = "{{patch}}";
    console.log(a);
</script>

<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <br>

            <li>
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Ace.com
                    </span>
                </a>

            </li>
            <br>
            <br>
            <li class="has-subnav">
                <a href="#" style="cursor: pointer;">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        League of Legends
                    </span>
                </a>

            </li>
            <br>
            <br>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Rainbow Six
                    </span>
                </a>

            </li>
            <br>
            <br>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Valorant
                    </span>
                </a>

            </li>
            <br>
            <br>
            <li>
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Champion Comparator
                    </span>
                </a>
            </li>
            <br>
            <br>
            <li>
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        League Guides
                    </span>
                </a>
            </li>
            <br>
            <br>
            <li>
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Rainbow Stats
                    </span>
                </a>
            </li>
            <br>
            <br>
            <!--<li>
                <a href="#">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <span class="nav-text">
                        Maps
                    </span>
                </a>
            </li>
            <br>
            <li>
                <a href="#">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        Documentation
                    </span>
                </a>
            </li>-->
        </ul>
    </nav>
    <div class="search-box">
        <input class="search" placeholder="Search champion...." /><span class="emty">&times;</span>
    </div>
    <aside>
        <div class="ads">
            <span>advertisement</span>
        </div>
        <div class="ads2">
            <span>advertisement</span>
        </div>
        <div class="ads3">
            <span>advertisement</span>
        </div>
    </aside>
    <article>
        <section>
            <ul class="champ-list">
                {% for o in img %}
                <li class="champ" onclick="location.href = '/champion/?c={{o}}'">
                    <button class="cybr-btn">
                        <img src="https://ddragon.leagueoflegends.com/cdn/{{patch}}/img/champion/{{o}}.png"
                            size="10x10">
                        <span class="name {{o}} cybr-btn__glitch" style="margin-top: 0px;"></span>
                    </button>
                </li>
                {% endfor %}
                <li class="champ"></li>
                <li class="champ"></li>
                <li class="champ"></li>
                <li class="champ"></li>
            </ul>
        </section>
    </article>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>


</html>