<nav class="main-menu">
    <ul>
        <br>
        
        <li>
            <a href="/">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Ace.com
                </span>
            </a>

        </li>
        <br>
        <br>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                    League of Legends
                </span>
            </a>

        </li>
        <br>
        <br>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                    Rainbow Six
                </span>
            </a>

        </li>
        <br>
        <br>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                    Valorant
                </span>
            </a>

        </li>
        <br>
        <br>
        <li>
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                    Champion Comparator
                </span>
            </a>
        </li>
        <br>
        <br>
        <li>
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                    League Guides
                </span>
            </a>
        </li>
        <br>
        <br>
        <li>
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                    Rainbow Stats
                </span>
            </a>
        </li>
        <br>
        <br>
        <!--<li>
            <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                    Maps
                </span>
            </a>
        </li>
        <br>
        <li>
            <a href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Documentation
                </span>
            </a>
        </li>-->
    </ul>
</nav>