html,body{
    height: 100%;
}
.all{
    height: 100vh;
    color: white;
    display: flex;
    
}
.lol{
    display: flex;
    height: 100vh;
    width: 33%;
    background-color: violet;
    background-image: url("../Lol/immagine_home.png");
    filter: blur(5px);
}
.r6{
    height: 100vh;
    width: 33%;
    background-color: blue;
    background-image: url("../R6/immagine_home.png");
    filter: blur(5px);
}
.valorant{
    height: 100vh;
    width: 34%;
    background-color: greenyellow;
    background-image: url("../Valorant/immagine_home.png");
    filter: blur(5px);
}
h1{
    visibility: visible;
    z-index: 10;
    margin-left: 22%!important;
    color: lawngreen;
    margin-top: -30%!important;
    text-shadow: black 7px 7px 7px;
    
}
.game{
    visibility: hidden;
    margin-left: 33%!important;
    margin-top: 20%!important;
}
div:hover+h1{
    visibility: visible;

}
div:hover{
    filter: blur(0);
}
div.all:hover~h1{
    visibility: hidden;
    color: hotpink;
}