<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Scuttle's Hub</title>
</head>

<body>

    <div id="nav-container">
        <nav>
            <div id="navbar">Ace.com</div>
        </nav>
    </div>
    <div id="body-container">
        <div class="img-container">
            <img src="{% static '/images/lol_pc.jpg' %}" alt="league">
            <button class="cybr-btn" onclick="location.href = '/lol/'">
                LoL<span aria-hidden>_</span>
                <span aria-hidden class="cybr-btn__glitch">League of Legends</span>
            </button>
        </div>
        <div class="img-container">
            <img src="{% static '/images/r6_pc.jpg' %}" alt="r6">
            <button id="r6" class="cybr-btn">
                R6<span aria-hidden>_</span>
                <span aria-hidden class="cybr-btn__glitch">Rainbow Six Siege</span>
            </button>
        </div>
        <div class="img-container">
            <img src="{% static '/images/val_pc.jpg' %}" alt="valorant">
            <button class="cybr-btn">
                Val<span aria-hidden>_</span>
                <span aria-hidden class="cybr-btn__glitch">Valorant</span>
            </button>
        </div>
    </div>
</body>

</html>