html,body,a{
    height: 100%;
}
.all{
    height: 100vh;
    color: white;
    display: flex;
    
}
h2,h3{
    display: none;
}
.lol{
    display: flex;
    height: 100vh;
    width: 33%;
    background-color: violet;
    background-image: url("../Lol/immagine_home.png");
    filter: blur(5px);
}
.r6{
    height: 100vh;
    width: 33%;
    background-color: blue;
    background-image: url("../R6/immagine_home.png");
    filter: blur(5px);
}
.valorant{
    height: 100vh;
    width: 34%;
    background-color: greenyellow;
    background-image: url("../Valorant/immagine_home.png");
    filter: blur(5px);
}
h1{
    visibility: visible;
    z-index: 10;
    margin-left: 22%!important;
    color: lawngreen;
    margin-top: -30%!important;
    text-shadow: black 7px 7px 7px;
    
}
.game{
    visibility: hidden;
    margin-left: 33%!important;
    margin-top: 20%!important;
}
div.lol:hover+h1{
    width: 33vW;
    visibility: visible;
    margin-left: 0%!important;
}
div.r6:hover+h1{
    width: 33vW;
    visibility: visible;
    margin-left: 33%!important;
}
div.valorant:hover+h1{
    width: 33vW;
    visibility: visible;
    margin-left: 66%!important;
}
div:hover{
    filter: blur(0);
}
div.all:hover~h1{
    visibility: hidden;
}
@media only screen and (max-width: 850px) {
    html,body,a{
        height: 100%;
    }
    .all{
        height: 33vh;

        color: white;
        display: block;
        
    }
    .lol{
        display: flex;
        height: 33vh;
        width: 100%;
        background-color: gray;
        background-image: url("../Lol/immagine_home_phone.jpg");
        filter: blur(2px);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .r6{
        height: 33vh;
        width: 100%;
        background-color: blue;
        background-image: url("../R6/immagine_home_phone.jpg");
        filter: blur(2px);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .valorant{
        height: 33vh;
        width: 100%;
        background-color: greenyellow;
        background-image: url("../Valorant/immagine_home_phone.jpg");
        filter: blur(2px);
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        visibility: visible;
        z-index: 10;
        display: block!important;
        color: rgba(126, 252, 0, 0.822);
        margin-top: 0px!important;
        margin-left: 0px!important;
        text-shadow: black 7px 7px 7px;
    
    }
    h2{
        visibility: visible;
        z-index: 10;
        display: block!important;
        color: rgba(126, 252, 0, 0.753);
        margin-top: 28%!important;
        margin-left: 15%!important;
        text-shadow: black 7px 7px 7px;
    }
    h3{
        visibility: visible;
        z-index: 10;
        color: lawngreen;
        text-shadow: black 7px 7px 7px;
        display: block!important;
        text-decoration: underline;
    }
    h3+h3{
        margin-top: 50px!important;
    }
    .h3-val{
        margin-top: 97px!important;
        text-align: center;
    }
    span{
        visibility: visible;
        z-index: 10;
        display: block!important;
        color: red;
        margin-top: 40%!important;
        margin-left: 17.5%!important;
        text-shadow: black 7px 7px 7px;
        text-align: center;
    }
    
    
}