@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:40px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:yellow;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:black;
 font-family: 'Cyber', sans-serif;
font-size: 19px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Cyber', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* ------------------------------------- */
*, *:after, *:before {
    box-sizing: border-box;
  }
  
  body {
    background: #1F2428;
    text-align: center;
    color: #fff;
    padding: 15px;
    font-family: DejaVu Sans, Symbola, Everson Mono, Dingbats, Segoe UI Symbol, Quivira, SunExt-A, FreeSerif, Universalia, unifont;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  ul li {
    width: 12.5%;
    float: left;
    font-size: 12px;
    height: 150px;
    padding: 10px;
    min-width: 150px;
    position: relative;
  }
  ul li.header {
    width: 100%;
  }
  ul li.header.hide {
    display: none !important;
  }
  ul li.header h2 {
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #ccc;
    padding-left: 5px;
    padding-bottom: 5px;
    font-weight: 200;
    border-bottom: 1px solid #333;
  }
  ul li.active {
    color: #00984A;
  }
  ul li i {
    font-size: 50px;
    font-style: normal;
  }
  ul li > p {
    text-transform: capitalize;
  }
  
  .popover {
    position: absolute;
    width: 250px;
    background: #fff;
    padding: 15px;
    color: #555;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 10px #222;
    border-radius: 4px;
    text-align: left;
    z-index: 5;
  }
  .popover:after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    bottom: 100%;
    left: 120px;
  }
  .popover div {
    margin-top: 5px;
  }
  .popover .close {
    right: 5px;
    top: 0;
    position: absolute;
    font-size: 22px;
    opacity: 0.7;
    z-index: 2;
    cursor: pointer;
  }
  .popover .close:hover {
    opacity: .9;
  }
  .popover p {
    text-align: center;
    color: #FFA500;
    font-size: 22px;
    padding: 0;
  }
  .popover p span {
    color: #59BC89;
  }
  .popover p.exm {
    font-size: 16px;
    color: #C32361;
  }
  .popover p.exm span {
    color: inherit;
  }
  
  .search-box {
    max-width: 640px;
    position: relative;
    margin: auto;
  }
  .search-box .emty {
    font-size: 32px;
    position: absolute;
    right: 20px;
    top: 7px;
    z-index: 3;
    display: none;
    cursor: pointer;
  }
  
  .search {
    height: 50px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 50px;
    transition: 0.3s;
    border: 2px solid #ddd;
    background: none;
    color: #fff;
    font-size: 18px;
  }
  .search:focus {
    outline: none;
    box-shadow: 0 0 0 3px #ddd;
  }
